<section id="one_dd" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">

          
            <div class="form_login" >
                <form name="LogForm" id="LogForm">
                    <h2>LOGIN</h2>
                    <div id="error_login"></div>
                    <table>
                        <tr>
                            <td>Usuario:</td>
                            <td><input name="user" id="login_user" type="text" placeholder="Usuario" ng-minlength="3" ng-maxlength="20"/> </td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input name="password" id="login_password" type="password" placeholder="Contraseña"/> </td>
                        </tr>
                    </table>
                </form>
                <div id="login_ajuste">
                  <div id="login"><h2>Login</h2></div>
                 <div id="btn-login"><h2>Redes Sociales</h2></div>
                </div>
            </div>
          
            <div class="form_register">
                <form name="RegForm" id="RegForm">
                     <h2>REGISTER</h2>
                    <div id="error_register"></div>
                    <table>
                         <tr>
                            <td>Usuario:</td>
                            <td><input name="user" id="reg_user" type="text" placeholder="Introduce el usuario"/> </td>
                        </tr>
                        <tr>
                            <td>Correo:</td>
                            <td><input name="email" id="reg_email" type="text" placeholder="Correo"/> </td>
                        </tr>
                        <tr>
                            <td>Contraseña:</td>
                            <td><div><input name="password" id="reg_password" type="password" placeholder="Contraseña"/> <div id="show1" class="show_pass" ><i class="fas fa-eye"></i></div></div> </td>
                        </tr>
                        <tr>
                            <td>Repite la contraseña:</td>
                            <td><input name="password2" id="reg_password2" type="password" placeholder="Contraseña"/> <div id="show2" class="show_pass" ><i class="fas fa-eye"></i></div> </td>
                        </tr>
                    </table>
                </form>
              
                <div id="register"><h2>Register</h2></div>
            </div>
          
        </div>
    </div>
</section>

