<uib-tabset class="tabbable">
    <uib-tab class="tab01" heading="Mi perfil" ng-attr-active="tabs[0].active">
        <form id="profile_view" name="profile_view" class="view-perfil" style="width: 100%; margin: 0px;"></form>
            <div class="row">
                <div class='ajuste'>
                    <div id='profile_ajuste' >
                        <div id='table_profile_ajuste'>
                            <table id='profile_tab'>
                                <tr>
                                    <td rowspan='2' class='td_img_perf'> <img class='profile_img' ng-src="{{info_user.avatar}}" /></td>
                                    <td>Nombre de cuenta:</td>
                                    <td>{{info_user.user}}</td>
                                </tr>
                                <tr>
                                    <td>Correo:</td>
                                    <td>{{info_user.email}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="text-align: center;"><h2>Datos personales:</h2></td>
                                </tr>
                                <tr>
                                    <td>Nombre:</td>
                                    <td colspan="2">{{info_user.Name}}</td>
                                </tr>
                                <tr>
                                    <td>Apellidos:</td>
                                    <td colspan="2">{{info_user.Surname1}} | {{info_user.Surname2}}</td>
                                </tr>
                                <tr>
                                    <td>Fecha de nacimiento:</td>
                                    <td colspan="2">{{info_user.Birthday}}</td>
                                </tr>
                                <tr>
                                    <td>País:</td>
                                    <td colspan="2">{{info_user.Country}}</td>
                                </tr>
                                <tr>
                                    <td>Provincia:</td>
                                    <td colspan="2">{{info_user.Province}}</td>
                                </tr>
                                <tr>
                                    <td>Ciudad:</td>
                                    <td colspan="2">{{info_user.City}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </uib-tab>
    <uib-tab class="tab02" heading="Editar perfil" ng-attr-active="tabs[1].active">
        <div class="row">
            <form id="profile_form" name="profile_form" class="form-perfil" style="width: 100%;">
                <div class="row">
                    <div class='ajuste'>
                        <div id='profile_ajuste' >
                            <div id='table_profile_ajuste'>
                                <table id='profile_tab'>
                                    <tr>
                                        <td rowspan='2' class='td_img_perf'> <img class='profile_img' ng-src="{{info_user.avatar}}" /></td>
                                        <td>Nombre de cuenta:</td>
                                        <td>{{info_user.user}}</td>
                                    </tr>
                                    <tr>
                                        <td>Correo:</td>
                                        <td>{{info_user.email}}</td>
                                    </tr>
                                    <tr>
                                        
                                        <td colspan="3" style="text-align: center;"><h2>Datos personales:</h2></td>
                                    </tr>


                                    <tr>
                                        <td>Nombre:</td>
                                        <td colspan="2"><input required placeholder="{{info_user.Name}}" type="text" ng-model="profile.Name" id="profileName" name="profileName" ng-pattern="/^\D{3,30}$/" ng-minlength="3" maxlength="25"></input></td>
                                    </tr>
                                    <tr>
                                        <td>Apellidos:</td>
                                        <td colspan="2">
                                        <input required placeholder="{{info_user.Surname1}}"  type="text" ng-model="profile.Surname1" id="profileSurname1" name="profileSurname1" ng-pattern="/^\D{3,30}$/" ng-minlength="4" maxlength="25">
                                        <input required placeholder="{{info_user.Surname2}}" type="text" ng-model="profile.Surname2" id="profileSurname2" name="profileSurname2" ng-pattern="/^\D{3,30}$/" ng-minlength="4" maxlength="25"></td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de nacimiento:</td>
                                        <td><input required autocomplete="off" placeholder="{{info_user.Birthday}}" type="text" ng-model="profile.Birthday" name="profileBirthday" id="profileBirthday" datepickerp=""></td>
                                    </tr>
                                    <tr>
                                        <td>País:</td>
                                        <td class="control-group" colspan="2">
                                            <select required name="pais" class="form-control" ng-model="pais" ng-options="item.sName for item in paises" placeholder="Pais" id="pais" ng-change="resetPais()">
                                                <option value="">Seleccione un pais</option>
                                            </select>
                                            <span class="text-danger" ng-show="AlertMessage" ng-model="pais_error">{{pais_error}}</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Provincia:</td>
                                        <td class="control-group" colspan="2">
                                                <select name="provincia" class="form-control" id="provincia"  ng-options="item.nombre for item in provincias"
                                                ng-model="provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="pais.sISOCode!='ES'">
                                                    <option value="">Seleccione una provincia</option>
                                                </select>
                                                <span class="text-danger" ng-show="AlertMessage" ng-model="login.prov_error">{{login.prov_error}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ciudad:</td>
                                        <td class="control-group" colspan="2">
                                                <select type="text" class="form-control" name="poblacion" ng-model="poblacion"
                                                ng-options="item.poblacion for item in poblaciones "placeholder="Poblacion" id="poblacion" ng-disabled="pais.sISOCode!='ES'">
                                                    <option value="">Seleccione una ciudad</option>
                                                </select>
                                                <span class="text-danger" ng-show="AlertMessage" ng-model="user.pob_error">{{user.pob_error}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" rowspan="4">
                                            <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
                                        </td>
                                    </tr>
                                        
                                </table>
                                <div>
                                    <input id="save_profile" type="button" ng-click="submit()" name="submit" value="Guardar" ng-show="profile_form.profileName.$valid && profile_form.profileSurname1.$valid && profile_form.profileSurname2.$valid && profile_form.profileBirthday.$valid && profile_form.pais.$valid"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </from>
        </div>
    </uib-tab>
    <uib-tab class="tab03" heading="Mis proyectos" ng-click="user_projects()" ng-attr-active="tabs[2].active">
        
        <div class="row" ng-show="vista_proyectos_1">
             <div class='ajuste'>
                <hr>
                <div style="text-align: center;">
                    <div class="create_pro" ng-click="create_pro()"><h2>Crear un nuevo royecto</h2></div>
                </div>
                <hr>
                <div class="list_pro">
                    <div ng-repeat="data in user_pro" class="div_listEach">
                        <div id="left_list">
                            <div class="div_lsitProImg">
                                <img ng-src="{{data.ProImg}}" alt="" />
                            </div>
                            <div class="div_lsitProName">
                                <h4>{{data.ProName}}</h4>
                            </div>
                        </div>
                        <div id="right_list">
                            <div class="div_lsitProUpdate">
                                <button ng-click="update_pro(data.idproject, data.ProDonate)" id="update_pro">Update</button>
                            </div>
                            <div class="div_lsitProDelete">
                                <button ng-click="delete_pro(data.idproject, data.ProName)" id="delete_pro">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="row" ng-show="vista_proyectos_2">
                <div class='ajuste'>
                    <h2>Create Project</h2>
                    <table>
                        <tr>
                            <td>Nombre de proyecto:</td>
                            <td><input required placeholder="Nombre proyecto" type="text" ng-model="project.ProName" id="ProName" name="ProName"  ng-minlength="3" maxlength="25"></input></td>
                        </tr>
                        <tr>
                            <td>Tipo de proyecto:</td>
                            <td>
                                <label>
                                    <input type="radio" ng-model="project.ProType" value="game">Game
                                </label>
                                <label>
                                    <input type="radio" ng-model="project.ProType" value="art">Art
                                </label>
                                <label>
                                    <input type="radio" ng-model="project.ProType" value="tecno">Tecno
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td><textarea required placeholder="Descripción" type="text-area" ng-model="project.ProDesc" id="ProDesc" name="ProDesc" ng-minlength="10" maxlength="500"></textarea></td>
                        </tr>
                        <tr>
                            <td>Mail:</td>
                            <td><input required placeholder="Correo electronico" type="text" ng-model="project.Mail" id="Mail" name="Mail"  ng-minlength="3" maxlength="25"></input></td>
                        </tr>
                        <tr>
                            <td>Fehca inicio:</td>
                            <td><input required autocomplete="off" placeholder="Fecha inicio" type="text" ng-model="project.ProDateIni" name="ProDateIni" id="ProDateIni" datepickerp=""></td>
                        </tr>
                        <tr>
                            <td>Subención mínima:</td>
                            <td><input required placeholder="Subención" type="text" ng-model="project.ProPrice" id="ProPrice" name="ProPrice"  ng-minlength="1" maxlength="25"></input></td>
                        </tr>
                        <tr>
                            <td>Moneda:</td>
                            <td>
                                <label>
                                    <input type="radio" ng-model="project.Curr" value="€">€
                                </label>
                                <label>
                                    <input type="radio" ng-model="project.Curr" value="$">$
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Imagen:</td>
                            <td>
                                <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <input id="save_project" type="button" ng-click="save_project()" name=" " value="Guardar" ng-show="project.ProName && project.ProType && project.ProDesc && project.Mail && project.ProDateIni && project.ProPrice && project.Curr"/>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="vista_proyectos_3">
                <div class='ajuste'>
                    <h2>Update Project</h2>
                    <table>
                        <tr>
                            <td>Nombre de proyecto:</td>
                            <td><input required placeholder="Nombre proyecto" type="text" ng-model="project.ProName" id="ProName" name="ProName"  ng-minlength="3" maxlength="25"></input></td>
                        </tr>
                        <tr>
                            <td>Tipo de proyecto:</td>
                            <td>
                                <label>
                                    <input type="radio" ng-model="project.ProType" value="game">Game
                                </label>
                                <label>
                                    <input type="radio" ng-model="project.ProType" value="art">Art
                                </label>
                                <label>
                                    <input type="radio" ng-model="project.ProType" value="tecno">Tecno
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Descripción:</td>
                            <td><textarea required placeholder="Descripción" type="text-area" ng-model="project.ProDesc" id="ProDesc" name="ProDesc" ng-minlength="10" maxlength="500"></textarea></td>
                        </tr>
                        <tr>
                            <td>Mail:</td>
                            <td><input required placeholder="Correo electronico" type="text" ng-model="project.Mail" id="Mail" name="Mail"  ng-minlength="3" maxlength="25"></input></td>
                        </tr>
                        <tr>
                            <td>Fehca inicio:</td>
                            <td><input required autocomplete="off" placeholder="Fecha inicio" type="text" ng-model="project.ProDateIni" name="ProDateIni" id="ProDateIni" datepickerp=""></td>
                        </tr>
                        <tr>
                            <td>Subención mínima:</td>
                            <td><input required placeholder="Subención" type="text" ng-model="project.ProPrice" id="ProPrice" name="ProPrice"  ng-minlength="1" maxlength="25"></input></td>
                        </tr>
                        <tr>
                            <td>Moneda:</td>
                            <td>
                                <label>
                                    <input type="radio" ng-model="project.Curr" value="€">€
                                </label>
                                <label>
                                    <input type="radio" ng-model="project.Curr" value="$">$
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Imagen:</td>
                            <td>
                                <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <input id="update_project" type="button" ng-click="update_project()" name="update_project" value="Update" ng-show="project.ProName && project.ProType && project.ProDesc && project.Mail && project.ProDateIni && project.ProPrice && project.Curr"/>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="vista_proyectos_4">
                <div class='ajuste'>
                    <div class="borrar_pro">
                        <h2>Desea borrar el proyecto {{ProName}}?
                            <div>
                                <button id="borrar_si" ng-click="delete_project()">Si</button>
                                <button id="borrar_no" ng-click="user_projects()">No</button>
                            </div>
                        </h2>
                    </div>
                </div>
            </div>

    </uib-tab>
    <uib-tab class="tab04" heading="Mis favoritos" ng-attr-active="tabs[3].active">

        <div class="row">
            <div class='ajuste'>
                <div class="ajuste_favs" style="border-top: 1px solid black; text-align: center;">

                    <h2 id="fav_h2" >Favoritos</h2>
                    <div class="ajuste_favs2">
                        <div class="inner">
                            <div ng-repeat="data in project" id="ng_favs">
                                <table id="table_favs" style="margin: 0px; text-align: left;">
                                        <tr>
                                            <td style="width: 15%">{{data.ProName}}</td>
                                            <td style="width: 42%">{{data.ProDesc}}</td>
                                            <td style="width: 18%">{{data.Mail}}</td>
                                            <td style="width: 10%">{{data.Ubica}}</td>
                                            <td style="width: 10%">{{data.ProDateIni}}</td>
                                            <td style="color: red; width: 5%;">♥</td>
                                        </tr>
                                </table>
                            </div>    
                        </div>
                    </div>

                </div>
                <div id="pager" ng-show="bootpageV">
                        <uib-pagination class="pagination-sm pagination" total-items="project.length" ng-model="currentPage"
                        ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4></uib-pagination>        
                </div>
            </div>
        </div>

    </uib-tab>
</uib-tabset>
